@import '../../admin.style.css';

.users-table {
  width: 100%;
  margin-top: 20px;
}

.user-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-fullname {
  font-weight: 500;
  color: var(--admin-text-primary);
}

.user-name {
  color: var(--admin-text-secondary);
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.edit-button {
  color: var(--admin-edit);
}

.edit-button:hover {
  color: var(--admin-edit-hover);
}

.delete-button {
  color: var(--admin-delete);
}

.delete-button:hover {
  color: var(--admin-delete-hover);
} 