<nav class="bg-[#f5f5f5] py-4 border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
        <div class="flex items-center">
            <a class="text-2xl font-bold" href="../pages/HomePage.html">QuickBlog</a>
        </div>
        <div class="hidden md:flex space-x-8">
            <a href="../pages/HomeDetail.html" class="text-gray-700 hover:text-gray-900 py-2">Posts</a>
            <a href="../pages/auth/LoginAccount.html" class="text-gray-700 hover:text-gray-900 py-2">Sign in</a>
            <a href="../pages/auth/CreateAccount.html" class="bg-black text-white px-4 py-2 rounded-full">Get started</a>
        </div>
        <div class="md:hidden"> 
            <button id="mobile-menu-button" class="text-gray-700 focus:outline-none">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
    <div class="md:hidden hidden" id="mobile-menu">
        <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Post</a>
        <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Sign in/a>
        <a href="#" class="block px-4 py-2 bg-black text-white rounded-full text-center">Get started</a>
    </div>
</nav>
