<nz-table
  #basicTable
  [nzData]="displayData"
  [nzLoading]="loading"
  [nzShowPagination]="false"
  class="posts-table">
  <thead>
    <tr>
      <th [nzWidth]="'50px'"
          [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>
      <th [nzWidth]="'320px'">Bài viết</th>
      <th [nzWidth]="'320px'">Tác giả</th>
      <th [nzWidth]="'320px'">Danh mục</th> 
      <th>Ngày đăng</th>
      <th [nzAlign]="'right'">Thao tác</th>
    </tr>
  </thead>
  <tbody *ngIf="displayData.length > 0">
    <tr *ngFor="let data of displayData">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td>{{ data.title }}</td>
      <!-- Author -->
      <td>
        <div class="author-cell">
          <nz-avatar [nzSrc]="getAuthorAvatar(data.User?.avatar)"></nz-avatar>
          <span class="author-name">{{ data.User?.username || 'Không xác định' }}</span>
        </div>
      </td>
      <!-- Categories -->
      <td>
        <ng-container *ngIf="data.Categories && data.Categories.length > 0">
          <nz-tag *ngFor="let category of data.Categories" [nzColor]="getCategoryColor(category.name)">
            {{ category.name }}
          </nz-tag>
        </ng-container>
        <span *ngIf="!data.Categories || data.Categories.length === 0">Chưa phân loại</span>
      </td> 
      <!-- Date -->
      <td>
          {{ data.createdAt | date:'dd/MM/yyyy' }}
      </td>
      <!-- Actions -->
      <td [nzAlign]="'right'" class="action-buttons">
          <button nz-button nzType="link" class="view-button" (click)="viewPost.emit(data)" title="Xem chi tiết">
            <i nz-icon nzType="eye"></i>
          </button>
          <!-- <button nz-button nzType="link" class="edit-button" (click)="editPost.emit(data)" title="Chỉnh sửa">
            <i nz-icon nzType="edit"></i>
          </button> -->
        <button nz-button nzType="link" class="delete-button" (click)="deletePost.emit(data)" title="Xóa">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
    <nz-empty *ngIf="!loading && displayData.length === 0" nzNotFoundContent="Không tìm thấy bài viết nào"></nz-empty>
</nz-table> 