<nz-card ngSkipHydration>
  <div class="header-container">
    <div class="title-section">
      <h2 class="card-title">All Posts</h2>
      <button nz-button nzType="primary">
        <i nz-icon nzType="plus"></i> Add New Post
      </button>
    </div>

    <div class="filter-section">
      <div class="search-container">
        <nz-input-group [nzPrefix]="prefixIconSearch">
          <input type="text" nz-input placeholder="Search posts..." [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>

      <div class="filters">
        <nz-select class="filter-select" nzPlaceHolder="All Categories" [(ngModel)]="selectedCategory">
          <nz-option nzValue="null" nzLabel="All Categories"></nz-option>
          <nz-option nzValue="technology" nzLabel="Technology"></nz-option>
          <nz-option nzValue="design" nzLabel="Design"></nz-option>
          <nz-option nzValue="development" nzLabel="Development"></nz-option>
        </nz-select>

        <nz-select class="filter-select" nzPlaceHolder="All Time" [(ngModel)]="selectedDate">
          <nz-option nzValue="null" nzLabel="All Time"></nz-option>
          <nz-option nzValue="today" nzLabel="Today"></nz-option>
          <nz-option nzValue="week" nzLabel="This Week"></nz-option>
          <nz-option nzValue="month" nzLabel="This Month"></nz-option>
        </nz-select>
      </div>
    </div>
  </div>

  <nz-table 
    #basicTable 
    [nzData]="listOfData"
    [nzShowPagination]="false" 
    class="posts-table">
    <thead>
      <tr>
        <th [nzWidth]="'50px'" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>Post</th>
        <th>Author</th>
        <th>Category</th>
        <th>Date</th>
        <th [nzAlign]="'right'">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="listOfData.length > 0">  
      <tr *ngFor="let data of basicTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.title }}</td>
        <td>
          <div class="author-cell">
            <nz-avatar [nzSrc]="data.author.avatar"></nz-avatar>
            <span class="author-name">{{ data.author.name }}</span>
          </div>
        </td>
        <td>
          <nz-tag [nzColor]="getCategoryColor(data.category)">{{ data.category }}</nz-tag>
        </td>
        <td>{{ data.date }}</td>
        <td [nzAlign]="'right'" class="action-buttons">
          <button nz-button nzType="link" class="delete-button">
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div class="pagination-container">
    <div class="pagination-info">
      Showing <strong>1</strong> to <strong>5</strong> of <strong>35</strong> posts
    </div>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="35" nzShowSizeChanger [nzPageSize]="5"></nz-pagination>
  </div>
</nz-card>
