<nz-card ngSkipHydration>
  <app-post-search-filter
    [categories]="categories"
    [searchValue]="searchValue"
    [selectedCategory]="selectedCategory"
    [selectedDate]="selectedDate"
    (search)="searchAndFilter()"
    (searchValueChange)="onSearchValueChange($event)"
    (selectedCategoryChange)="onSelectedCategoryChange($event)"
    (selectedDateChange)="onSelectedDateChange($event)"
    (resetFilters)="resetFilters()"
    (addNewPost)="navigateToCreatePost()">
  </app-post-search-filter>

  <app-post-table
    [displayData]="displayData"
    [loading]="loading"
    [checked]="checked"
    [indeterminate]="indeterminate"
    [setOfCheckedId]="setOfCheckedId"
    (editPost)="navigateToCreatePost()"
    (deletePost)="confirmDeletePost($event)"
    (checkAllChange)="onAllChecked($event)"
    (itemCheckedChange)="onItemChecked($event)">
  </app-post-table>

  <app-admin-pagination
    *ngIf="total > 0"
    [total]="total"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (pageIndexChange)="onPageIndexChange($event)"
    (pageSizeChange)="onPageSizeChange($event)">
  </app-admin-pagination>
</nz-card>